html,body{
    font-family: 'maison neue';
}
@font-face {
     font-family: 'maison neue';
     src: url("../public/assets/fonts/MaisonNeue.ttf");
 }
 @font-face {
     font-family: 'shone schmal';
     src: url("../public/assets/fonts/ShoneSchmal.ttf");
 }
 .swiper-button-next {
    background: transparent !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: white !important;
    border-radius: 0 !important;
}

.thumbnail-image {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active .thumbnail-image {
    opacity: 1;
}